/* Homework Question */

p{
    color: red;
    line-height: 30px;
}
body{
    text-align:center;
    font-family:Georgia;
}
a{
    color:green;
    text-decoration:none;
}
button{
    color:white;
    background-color: blueviolet;
}
textarea{
    font-color:black;
}
h1{
    text-decoration: underline;
}
